GEMINI_API_KEY=

# MongoDB Connection
MONGODB_URI=mongodb+srv://kaifurrahaman145_db_user:YOUR_PASSWORD@cluster0.isbqz5q.mongodb.net/myDatabase

# Spotify OAuth
SPOTIFY_CLIENT_ID=df827e99f9cb45ed8b6a80e8bbdafb24
SPOTIFY_CLIENT_SECRET=f37894b84125446d98f4a28bbaa9cc32
APP_URL=
